html,body{
  scroll-behavior: smooth;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#web-body{
  display: grid;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0;
}

#navbar-container{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  background-color: #4d2e07;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-header-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30px;
}

#nav-name{
  color: white;
  margin-right: 30px;
}

#header-logo{
  width: 70px;
  height: 70px;
  filter: brightness(1000%);
  margin-right: 20px;
}

#header-logo:hover{
  cursor: pointer;
  filter: brightness(200%);
  transition: 0.3s all ease-in-out;
}

#navbar-item-wrapper{
  display: flex;
  justify-content: space-evenly;
  margin-right: 30px;
}

.navbar-item{
  height: 40px;
  width: 120px;
  font-size: 12px;
  border-radius: 20px;
  color: white;
  background-color: #a97b4c;
  margin: 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px 7px;
}

.navbar-item:nth-child(2){
  width: 120px;
}

.navbar-item:hover{
  cursor: pointer;
  filter: brightness(90%);
  transition: all 0.3s ease-in-out;
}

.navbar-item > a{
  text-decoration: none;
  color: white;
}

#main-content{
  width: 100%;
  height: 3700px;
}

.content-item{
  padding-top: 50px;
}

.content-item:first-child{
  padding-top: 100px;
}

#home-page{
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #231709, #000000);
}

.home-page-item{
  width: 800px;
  margin: 50px 2% 0;
}

#my-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100;
  filter: brightness(90%);
  filter: drop-shadow(5px 5px 10px #a97b4c);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }
  50% {
      transform: translate(0, 15px);
  }
  100% {
      transform: translate(0, -0px);
  }
}

#profile-pic{
  height: 1100px;
  width: 600px;
}

#profile-pic:hover{
  cursor: pointer;
  filter: brightness(80%);
  transition: all 0.3s ease-in-out;
}

.desc-item{
  margin: 0px 80px 10px;
  color: white;
}

.desc-item:first-child{
  margin-top: 150px;
}

#desc-title{
  font-size: 40px;
}

#desc-hi{
  font-size: 60px;
}

#desc-content{
  font-size: 18px;
  line-height: 30px;
  color: #9a7b4f;
}

#contact-container{
  display: flex;
  justify-content: start;
  align-items: center ;
}

.contact-pic{
  height: 60px;
  width: 60px;
  margin: 10px 5px 10px;
}

.contact-pic:hover{
  cursor: pointer;
  filter: brightness(70%);
  transition: all 0.3s ease-in-out;
}

#about-me-page{
  margin-top: -50px;
  width: 100%;
  height: 2800px;
  display: flex;
  justify-content:start;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #231709, #000000);
}

#ab-title-wrapper{
  height: 240px;
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title{
  color: white;
  font-size: 50px;
}

#ab-content-wrapper{
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: start;
}

#about-me-content{
  color: white;
  font-size: 24px;
  width: 95%;
  padding: 20px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  filter: blur(50%);
}

#DAM-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.DAM{
  margin-top: 20px;
  font-size: large;
  color: white;
  width: 800px;
  height: 300px;
  padding: 20px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  filter: blur(50%);
  margin: 0 40px 0;
}

#hobi-wrapper{
  color: white;
  font-size: 20px;
  margin-top: 100px;
  width: 90%;
  height: 500px;
  padding: 20px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  filter: blur(50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#hobi-n-text-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hobi-n-text{
  height: 400px;
  width: 400px;
  margin: 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobi-img{
  width: 300px;
  height: 300px;
  border-radius: 50px;
  filter: drop-shadow(5px 5px 10px white);
}

#iframe-wrapper{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.iframe-object{
  margin-top: 20px;
  font-size: 25px;
  color: white;
  width: 800px;
  height: 500px;
  padding: 20px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  filter: blur(50%);
  margin: 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iframe{
  border-radius: 30px;
  filter: drop-shadow(5px 5px 15px #a97b4c);
}

#lessonlearn-wrapper{
  color: white;
  font-size: 30px;
  margin-top: 100px;
  padding: 30px;
  width: 90%;
  height: 400px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  filter: blur(50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}